extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Chiarini Fabio

        p.lead.text-light
          | Soon to be Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I believe that with hard work and determination you can achieve anything

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li JQuery
          li Python
          li Code reviewing
          li Css
          li Html
          li Hard work
          li Determination
          li SQL

        h6 Contact Info

        ul
          li 123-456-7890
          li fabio.chiarini@fakemail.com

        a.button.expanded(href='https://github.com/FabioChiarini/') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  