extends layout

block content 
    h1(style="text-align:center;")= error.message
    h2(style="text-align:center;")= error.status
    p(style="text-align:center;")
        img(src=error.image)
    pre(style="text-align:center;")= error.stack

